@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: #F9F9FC;
}

input {
    outline: none;
    box-shadow: none;
    border: 0;
}

@font-face {
    font-family: 'Manjari';
    src: url('/src/assets/fonts/Manjari-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Manjari';
    src: url('/src/assets/fonts/Manjari-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'DIN Alternate';
    font-weight: normal;
    font-style: normal;
}


@layer components {
    /* button and loading spinner 
     * ------------------------------------------------------------------------- */
    .btn {
      cursor: pointer;
    }
    .btn:disabled,
    .btn:disabled:hover,
    .btn.loading,
    .btn.loading:hover {
      cursor: not-allowed;
      pointer-events: none;
    }
    .btn.loading:before {
      display: inline-block;
      margin-right: 0.5rem;
      height: 1rem;
      width: 1rem;
      border-radius: 9999px;
      border-width: 2px;
      animation: spin 2s linear infinite;
      content: "";
      border-top-color: transparent;
      border-left-color: transparent;
      border-right-color: currentcolor;
      border-bottom-color: currentcolor;
      opacity: 0.7;
    }
  
    @media (prefers-reduced-motion: reduce) {
      .btn.loading:before {
        animation: spin 10s linear infinite;
      }
    }
    @keyframes spin {
      0% {
        transform: rotate(0);
      }
      to {
        transform: rotate(360deg);
      }
    }
  }
  